{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
      <p class="has-text-centered py-4">
        <img src="https://acoustid.biz/static/homepage/how-does-it-work.svg" alt="How does it work?">
      </p>
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
      <p>
        Welcome to AcoustID, the first fully open source audio identification service.
      </p>
    </div>
  </section>
{% endblock %}
